.list__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  margin-top: 100px;
}

.button {
  background-color: #0074e4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* CSS cho bảng người dùng */
.user-table {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc !important;
}

th,
td {
  padding: 10px;
  text-align: center !important;
}

thead {
  background-color: #0074e4;
  color: #fff;
}

.edit-button,
.delete-button {
  background-color: #0074e4;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 2px;
}

.cancel-button {
  background-color: red;
}

.save-button {
  background-color: black;
}

.add-user-form {
  background-color: pink;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.add-button {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.add-user-form input {
  margin-right: 20px;
}
