@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); /* CSS cho container chứa form đăng ký */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
/* CSS cho toàn bộ biểu mẫu đăng nhập */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
}

.form-container {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.form-container h2 {
  font-size: 1.7rem;
  color: gray;
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group label {
  margin-bottom: 5px;
}

/* CSS cho biểu tượng trong ô input */
.form-group i {
  position: absolute !important;
  left: 10px; /* Đặt khoảng cách bên trái */
  top: 25%;
  transform: translateY(-50%); /* Để căn giữa theo chiều dọc */
  z-index: 2;
  font-size: 1.4rem;
  color: black; /* Màu của biểu tượng */
}
.form-group2 input:focus + i {
  opacity: 0;
}
/* CSS cho ô input */
.form-group input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Để tạo khoảng cách bên trái cho biểu tượng */
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin-bottom: 40px;
  height: 50px;
}
button {
  background-color: black !important; /* Màu nền của nút */
  color: white; /* Màu chữ trên nút */
  border: none; /* Loại bỏ đường viền */
  padding: 10px 20px; /* Kích thước của nút */
  border-radius: 5px; /* Kết cấu góc của nút */
  cursor: pointer; /* Biến con trỏ thành hình bàn tay khi trỏ vào nút */
  transition: background-color 0.3s; /* Hiệu ứng khi hover */
  font-family: "Montserrat", sans-serif; /* Font chữ */
  font-size: 0.9rem; /* Kích thước chữ */
}

button:hover {
  background-color: gray; /* Màu nền thay đổi khi hover */
}
.link__regi p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: 40px;
  color: black;
  margin-bottom: 115px;
}
.link-to-register {
  text-decoration: none;
  color: #007bff;
  font-family: "Montserrat", sans-serif;
}

.link-to-register:hover {
  text-decoration: underline;
}

/* CSS cho thông báo lỗi */
.error-message {
  color: red;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
}
