/* CSS cho container chứa form đăng ký */
.register-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
    line-height: 30px;
    box-shadow: 5px 5px 5px -5px;
    background-color: grey !important;
    position: relative;
}
  
  
  /* CSS cho tiêu đề h2 */
.register-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: black;
  }
  
  /* CSS cho form-group */
.form-group {
    margin-bottom: 15px;
  }
  
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
  }
  
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* CSS cho button */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto; /* Cân chỉnh nút theo chiều ngang */
    display: block; /* Để nút tự động căn giữa */
  }
  
button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  body {
    display: contents;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
  }
  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    z-index: 999; /* Để thông báo hiển thị phía trên cùng */
    font-weight: 1.2rem;
  }
  